.dashboardTitles {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.3px;
    color: #252733;
    margin: 25px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.dashboardTitles h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

.card {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    padding: 15px;
}

.loadingText {
    width: 100%;
    text-align: center;
}

.infoTileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.infoTile {
    background-position: right bottom 15px;
    background-repeat: no-repeat;
    background-size: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.infoTile h1,
.infoTile h2,
.infoTile h3 {
    margin: 0;
}

.infoTile h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #535255;
    margin: 25px 0 15px 0;
}

.infoTile h2 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.infoTile h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}

.options {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    cursor: pointer;
}

.options span {
    width: 4px;
    height: 4px;
    background: #535255;
    border-radius: 50%;
}

.tableContainer h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #535255;
    margin: 0;
}

.tableContainer h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    margin-top: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.tableHeadRow {
    background: #F5F5F5;
    text-align: center;
}

.tableBodyRow {
    border-top: 2px solid #F5F5F5;
}

.tableHeadCell {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
    padding: 6px 0;
}

.tableBodyCell {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
    padding: 15px 0;
}

.accordion {
    list-style: none;
}


.accordion_item {
    background: #FFFFFF;
    margin-bottom: 20px;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}


.expansionButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
    border: none;
    text-align: left;
    font-weight: 700;
    width: 100%;
    align-items: center;
    padding: 0 15px;
}

.accordion_header {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-left: 23px;
}

.leftAccordion {
    display: flex;
    align-items: center;
}

.rightAccordion {
    display: flex;
    justify-content: space-between;
}

.control {
    font-size: 20px;
}

.answer {
    background-color: #f7f7f7;
    padding: 20px;
}

.accordion_item.active .button {
    background-color: #105057;
}

.searchBar {
    background-color: white;
    border: 1px solid #6A719A;
    width: 380px;
}

.filterBar {
    background-color: white;
    border: 1px solid #6A719A;
    width: 170px;
    margin-left: 70px
}

.answer_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
}

.expansionIcon {
    cursor: pointer;
}