.introSection {
    height: calc(100vh - var(--navigation-height));
    background-image: url('/bg/homepage-bg.svg');
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: right center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.colorBlue {
    color: var(--button-blue-color);
}

.introSection .introContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.introSection .introContent .introText {
    width: 100%;
    line-height: 2.25rem;
    font-size: 1.75rem;
    margin: 0;
}

.introSection .introContent .introBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introSection .introContent .subscribeBox {
    background-color: var(--button-blue-color);
    padding: 4rem 2.5rem;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
}

.introSection .introContent .subscribeBox h3 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}

.sectionContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.sectionContainer .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.sectionContainer .container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    padding-top: 50px;
}

.sectionContainer .container .sectionInfo {
    width: 100%;
    text-align: center;
    line-height: 2.25rem;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
}

.sectionContainer .container .sectionDescription {
    width: 60%;
    text-align: center;
    line-height: 2.25rem;
    margin-bottom: 80px;
    font-size: 1.6rem;
}

.sectionContainer .container .tileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.sectionContainer .background {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 640px) {
    .introSection {
        height: auto;
        background-image: url('/bg/intro-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        display: grid;
        grid-template-columns: 1fr;
    }

    .introSection .introContent .introText {
        line-height: 1.75rem;
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .introSection .introContent .subscribeBox {
        padding: 2.5rem 1.5rem;
    }

    .introSection .introFiller {
        height: 60vw;
    }

    .sectionContainer {
        height: auto;
    }

    .sectionContainer .container {
        position: relative;
        width: 100%;
    }

    .sectionContainer .container .sectionInfo {
        font-size: 0.85rem;
    }

    .sectionContainer .container .sectionDescription {
        width: 100%;
        text-align: center;
        margin-top: 0;
        line-height: 2rem;
        font-size: 1.125rem;
        margin-bottom: 50px;
    }
    
    .sectionContainer .container .tileContainer {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    .sectionContainer .background {
        position: initial;
        top: 0;
        left: 0;
        height: 60vh;
        width: 100%;
    }
}

@media only screen and (max-width: 640px) and (min-width: 481px) {   
    .sectionContainer .container .tileContainer {
        column-gap: 20px;
        row-gap: 20px;
    }

    .introBottom {
        width: 100%;
    }

}

@media only screen and (max-width: 1000px) and (min-width: 641px) {
    .introSection {
        height: auto;
    }

    .introSection .introContent .introText {
        line-height: 1.75rem;
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .introSection .introContent .subscribeBox {
        padding: 2.5rem 1.5rem;
    }

    .sectionContainer {
        height: 600px;
    }

    .sectionContainer .container .sectionInfo {
        font-size: 1rem;
    }

    .sectionContainer .container .sectionDescription {
        width: 80%;
        font-size: 1.275rem;
    }
}

@media only screen and (min-width: 1200px) {
    .introSection {
        background-position: right 7.5% center;
    }

    .sectionContainer {
        height: 600px;
    }
}

@media only screen and (min-width: 1500px) {
    .introSection {
        height: 700px;
    }
}