.loginPage {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
}

.loginPage .loginModal {
    width: 500px;
    background-color: var(--button-blue-color);
    margin-top: 7rem;
    overflow: hidden;
}

.loginPage .loginModal .logoContainer {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: solid 2px var(--button-blue-color);
}

.loginPage .loginModal .form {
    padding: 1.5rem 2rem;
}

.loginPage .loginModal legend {
    width: 100%;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}

.loginButton {
    margin-top: 20px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 700;
    background-color: var(--button-blue-color);
    border: solid 2px var(--grey-border-color);
    border-radius: 0.7rem;
    color: white
}

.loginButton:hover {
    filter: brightness(120%);
}

.buttonDisabled {
    background-color: #333;
    color: var(--grey-border-color);
}