.modalBackdrop {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #88888880;
    padding: 50px;
}

.scrollBackdrop {
    overflow-y: scroll !important;
    align-items: unset !important;
}

.modal {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    width: 100%;
    color: var(--footer-text-color);
    min-height: 200px;
    max-width: 700px;
    padding: 20px;
}

.subContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subContainer label {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
    margin-bottom: 5px;
}

.subContainer .twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.subContainer .twoColumn label {
    font-size: 12px!important;
    color: #828285!important;
}

.closeIcon {
    position: absolute;
    right: 15px;
    top: 15px;
    color: var(--footer-text-color);
    font-size: 30px !important;
    cursor: pointer;
}

.subContainer h1 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2996C3;
}

.gridSingle,
.gridDouble,
.gridDoubleNarrow {
    display: grid;
    row-gap: 15px;
}

.gridSingle {
    width: 60%;
    grid-template-columns: 1fr;
}

.gridDoubleNarrow {
    width: 70%;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.gridDouble {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.singleColumn {
    grid-column: span 2;
}

.buttonContainer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.uploadContainer {
    position: relative;
    background-color: #DDDCDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.uploadContainer label {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
}

.uploadContainer .icon {
    color: #999;
    font-size: 54px !important;
    margin: 8px;
}

.uploadContainer p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: #999999;
    margin: 0;
    margin-top: 1rem;
}

.fileName {
    position: absolute;
    top: 77px;
    display: flex;
    align-items: center;
}

.fileName .icon {
    font-size: 12px !important;
    margin: 0 !important;
    margin-left: 10px !important;
    cursor: pointer !important;
}

.uploadContainer .download {
    cursor: pointer;
    color: #2996C3;
    text-decoration: underline;
}

.seperator {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
}

.deleteModal h1 {
    color: #535255 !important;
}

.deleteModal .errorDeleteMessage {
    color: var(--error-message-color) !important;
}

.deleteModal .subContainer p {
    width: 100%;
    text-align: center;
}

.warnIcon {
    font-size: 17px !important;
    margin-right: 10px;
}

.warnMessage {
    color: #E4BE3D;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 13px;
}

@media only screen and (max-width: 480px) {
    .modalBackdrop {
        padding: 50px 20px;
    }

    .gridSingle,
    .gridDouble,
    .gridDoubleNarrow {
        display: block;
    }

    .gridDoubleNarrow {
        width: 100%;
    }
}