.container {
    display: grid;
    grid-template-columns: 40px auto;
    color: #999;
    background: rgba(217, 217, 217, 0.3);
    padding: 6px 0;
    height: fit-content;
}

.container input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: none;
    outline: none;
    background-color: #FFFFFF00;
    height: fit-content;
}

.container input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #999;
}

.darkContainer {
    background: transparent;
    border: 1px solid #D7D7D9;
}