.container {
    display: flex;
    align-items: center;
}

.text {
    color: #808080;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.selected {
    color: #2996C3!important;
}

.toggleBox {
    height: 12px;
    width: 24px;
    background-color: #2996C3;
    position: relative;
    border-radius: 6px;
    margin: 0 15px;
    cursor: pointer;
}

.toggleGear {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    top: 2px;
    transition: all 0.2s ease;
}

.selectFirst {
    left: 2px;
}

.selectSecond {
    left: 14px;
}

.toggleFalse {
    background-color: #999!important;
}