.gridContainer {
    display: grid;
    height: 100%;
    grid-template-columns: auto 300px;
    column-gap: 20px;
    position: relative;
}

.dateNav {
    display: flex;
    align-items: center;
}

.holidaysAndEventsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.activeEventMain {
    display: none;
    background: #363740;
    color: white;
    padding: 0 5px;
}

.activeEvent {
    display: flex;
    justify-content: space-around;
}

.activeEvent>div {
    font-size: 14px;
}

.activeEvent>div>span {
    display: flex;
}

.activeEvent>div>span>p {
    margin-top: 2px;
    margin-left: 4px;
}


.holidayContainer {
    background: #F7F2E5;
    padding: 14px 38px;
    overflow-y: scroll;
    height: 70%;
}

.dateNav h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}

.arrowIcon {
    font-size: 60px !important;
    color: #000000;
    cursor: pointer;
}

.arrowIcon:hover {
    color: #333;
}

.disabledIcon {
    color: #6B7280 !important;
    cursor: default !important;
}

.daysContainer {
    display: grid;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
}

.days {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #646464;
}

.datesContainer {
    display: grid;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.dateInMonths {
    border-top-width: 1px;
    border-color: #E5E7EB;
}

.dateContainer {
    position: relative;
    background: #F6F6F6;
    border: 0.5px solid #C2C2C2;
    border-radius: 10px;
    padding-top: 0.5rem;
    text-align: left;
    padding-bottom: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 90px;
}

.publicHoliday {
    background-color: #FDE69D;
}

.organizationHoliday {
    background-color: #90D9D3;
}

.dateValue {
    margin-left: 10px;
    padding: 5px;
    width: 1.85rem;
    text-align: center;
}

.todayDate {
    background-color: #2996C3;
    border-radius: 50px;
    color: #FFFFFF;
}

.notTodayDate {
    color: #000000
}

.notActiveMonth {
    color: rgba(0, 0, 0, 0.25);
}

.dateData {
    width: 100%;
    text-align: left;
    background-color: #2996C3;
    color: white;
    padding: 0 8px;
}

.dateData p {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    margin: 0;
}

.holidayList {
    list-style: none;
}

.dateHoliday {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.75;
    margin-bottom: 14px;
}

.events {
    padding: 5px 22px;
}

.event {
    display: flex;
    align-items: center;
    margin-top: 10px
}

.eventBullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
}

.event p {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0;
}

.clockIcon {
    display: none;
    position: fixed;
    box-shadow: 1px 0px 6px 1px rgb(54 55 64 / 30%);
    border-radius: 36px;
    width: 50px;
    bottom: 81px;
    height: 50px;
    right: 18px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    border-bottom: 1px solid white;
    text-align: center;
    width: 81px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.activeClockContainer {
    background: #363740;
    border: 1px solid #BFBFBF;
}

.inactiveClockContainer {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.activeClock {
    color: #FFFFFF;
}

.inactiveClock {
    color: #000000;
}

.subTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.75;
}

.closeIcon {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 20px;
    height: 20px;
    margin: auto;
}

.modalBackdrop {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #88888880;
    padding: 50px;
}

@media only screen and (max-width: 480px) {
    .gridContainer {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .activeEventMain {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        width: 100%;
        left: -2px;
        top: 100px;
    }

    .clockIcon {
        display: flex;
    }

    .dateContainer {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dateValue {
        margin: 0;
        padding: 0;
    }

    .todayDate {
        color: black;
        background-color: white;
    }

    .todayDate::after {
        content: "";
        width: 4px;
        height: 4px;
        position: absolute;
        background-color: #2996C3;
        border-radius: 100%;
        top: 4px;
        left: 7px;
    }
}