.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    background-image: url('/images/bg/clock-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
}

.container h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0;
}

.container h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    opacity: 0.75;
    margin: 0;
}

.date {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #535255;
}