.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.container p {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #535255;
}

.rightContainer {
    display: flex;
    align-items: center;
}

.button {
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    color: #FFF;
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberButton {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    color: #212B36;
    margin: 0 5px;
}

.numberActiveButton {
    border: 1px solid #2996C3!important;
    color: #2996C3!important;
}

.navigationButton {
    background: #2996C3;
}

.navigationDisabled {
    background-color: #C8CED5 !important;
    cursor: default !important;
    color: #eaebec !important;
}

.dropdown {
    position: relative;
    padding: 7px 10px 7px 15px;
    outline: none;
    background-color: #FFFFFF00;
    user-select: none;
    font-family: Mulish;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    border: 1px solid #535255;
}

.dropdown .selected {
    position: relative;
    padding-left: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding-right: 25px;
}

.dropdown .options {
    position: absolute;
    top: 32px;
    left: 0;
    background-color: #FFF;
    height: 120px;
    overflow-y: scroll;
    border: 1px solid #CECECE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .2s linear;
    min-width: 100%;
    width: fit-content;
    z-index: 10;
}

.dropdown .closedOptions {
    border: none;
    overflow: hidden;
    height: 0;
}

.dropdown .options p {
    margin: 0;
    height: 30px;
    padding-left: 15px;
    text-align: left;
    display: flex;
    align-items: center;
}

.dropdown .options p:hover {
    filter: brightness(90%);
    background-color: rgb(241, 241, 241);
}

.dropdown .dropDownIcon {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 14px !important;
    transform: translateY(-50%);
}

@media only screen and (max-width: 480px) {
 .dropdown {
     width:140px;
     height:30px;
    padding: 0;
    z-index: 1;
    white-space: nowrap;
    top:120px;
    right: 40%;
 }

}