.cardWrapper {
    margin-bottom: 20px;
    border: 1px solid #E6E6E6;
    padding: 0.75rem;
    border-radius: 4px;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
}

.cardDisplayWrapper {
    border: 1px solid #D9D9D9;
    display: grid;
    grid-template-columns: 100px auto 30px;
    max-width: 450px;
    width: 100%;
}

.brandImage {
    align-self: center;
    justify-self: center;
    width: 65px;
}

.cardDetails {
    color: #535255;
    font-weight: 600;
}

.cardNumber {
    font-size: 16px;
    line-height: 24px;
}

.defaultInfo {
    font-size: 12px;
    line-height: 18px;
}

.expiryDate {
    color: #535255;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.deleteIcon {
    align-self: center;
    justify-self: center;
    color: var(--error-message-color);
    cursor: pointer;
    font-size: 21px;
}

.userPreferenceCard {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.paymentHeading {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #535255;
    margin: 30px 0 15px;
}

.cardListWrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 30px;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    background-color: #FFF;
    max-width: 510px;
}

.paymentsBackDrop {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: #88888880;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentsContainer {
    position: relative;
    background-color: #FFF;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    color: var(--footer-text-color);
    padding: 20px;
    min-width: 400px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paymentsSubContainer {
    display: grid;
    grid-template-columns: 200px auto;
    width: 100%;
}

.paymentsContainer h1 {
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.priceContainer h3 {
    font-size: 16px;
}

.priceContainer p {
    font-size: 13px;
}

.optionsContainer {
    width: 100%;
}

.optionsChoices {
    display: flex;
    justify-content: center;
    color: #777;
    user-select: none;
}

.optionsChoices p {
    margin: 0 10px;
    cursor: pointer;
    font-size: 14px;
}

.optionsChoices .selected {
    font-weight: 700;
    color: var(--footer-text-color);
    border-bottom: solid 2px #28A8E0;
}

.optionsNewCard {
    width: 100%;
}

.optionsSavedMethods {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px 0 ;
}

.cardChoiceWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cardChoiceWrapper > span {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardChoiceWrapper > span .selected {
    background-color: #28A8E0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}