.table,
.subTable {
    display: grid;
}

.table {
    width: 100%;
}

.subTable {
    background-color: #F5F5F5;
    max-height: 230px;
    transition: all 0.2s ease;
    padding-left: 60px;
}

.bodyCell div {
    align-self: unset;
}

.headerCell,
.subHeaderCell,
.bodyCell,
.subBodyCell {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCell,
.subHeaderCell {
    color: #535255;
    font-weight: 700;
    height: 30px;
}

.subBodyCell,
.bodyCell {
    font-weight: 500;
    color: #999;
}

.subHeaderCellLeft {
    justify-content: flex-start !important;
}

.headerCell {
    background: #F5F5F5;
}

.bodyCell,
.subBodyCell {
    height: 50px;
    background: repeating-linear-gradient(to bottom,
            transparent 0, transparent 49px,
            #DFE0EB 49px, #DFE0EB 50px);
    word-wrap: break-word;
    word-break: keep-all;
    text-align: center;
}

.bodyCellError {
    background: repeating-linear-gradient(to bottom,
            transparent 0, transparent 49px,
            #b61111 49px, #b61111 50px);
}

.subBodyCellLeft {
    height: auto !important;
}

.subBodyCellLeft p {
    display: unset !important;
    overflow: unset !important;
    word-wrap: unset !important;
    word-break: unset !important;
    -webkit-line-clamp: unset !important;
    -webkit-box-orient: unset !important;
}

.subBodyCell {
    color: #999;
}

.actionIcon {
    font-size: 14px !important;
    cursor: pointer;
    color: #2996C3;
}

.expandIcons {
    color: #999999;
    cursor: pointer;
    margin: auto;
}

.historyTable {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.requestTitle {
    background: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    padding: 20px;
}

.requestDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    display: flex;
    justify-content: space-between;
}

.employeePreferenceGrid {
    padding: 10px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 15px;
}

.applyText {
    font-size: 12px;
    user-select: none;
    cursor: pointer;
}

.applyText:hover {
    color: #2996C3;
    text-decoration: underline;
}