.table, .subTable {
    display: grid;
}

.table {
    width: 100%;
}

.subTable {
    background-color: #F5F5F5;
    max-height: 230px;
    transition: all 0.2s ease ;
    padding-left: 60px;
}

.headerCell,
.subHeaderCell,
.bodyCell,
.subBodyCell {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCell,
.subHeaderCell,
.bodyCell {
    color: #535255;
}

.headerCell,
.subHeaderCell {
    height: 30px;
}

.subHeaderCellLeft {
    justify-content: flex-start!important;
}

.headerCell {
    background: #F5F5F5;
}

.bodyCell,
.subBodyCell {
    height: 50px;
    background: repeating-linear-gradient(to bottom,
      transparent 0, transparent 49px,
      #DFE0EB 49px,#DFE0EB 50px
    );
}

.subBodyCellLeft {
    height: auto!important;
}

.subBodyCell {
    color: #999;
}

.actionIcon {
    font-size: 14px;
    cursor: pointer;
    color: #2996C3;
}

.expandIcons {
    color: #999999;
    cursor: pointer;
}