.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.searchFilterContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search {
    width: 50%;
    border: 1px solid #BFBFBF;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.2px !important;
    color: #535255 !important;
    background-color: #FFFFFF !important;
}

.search input::placeholder {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.2px !important;
    color: #535255 !important;
}

.filter {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: fit-content;
    border: 1px solid #BFBFBF;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #535255;
    padding: 5.5px 20px;
    cursor: pointer
}

.filter p {
    margin: 0;
    margin-left: 10px;
}

.tableContainer h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #535255;
    margin: 0;
}

.tableContainer h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    margin-top: 0;
}

.table,
.subTable {
    width: 100%;
    display: table;
}

.subTable {
    background-color: #F5F5F5;
}

.subTableContainer {
    display: table-row;
}

.tableBodyRow,
.tableHeadRow {
    width: 100%;
}

.tableHeadRow {
    background: #F5F5F5;
    text-align: center;
    display: table-header-group;
}

.tableBody {
    display: table-row-group;
}

.tableBodyRow {
    border-top: 2px solid #F5F5F5;
    display: table-row;
}

.tableHeadCell {
    display: table-cell;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
    padding: 6px 0;
    vertical-align: middle;
}

.tableBodyCell {
    display: table-cell;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
    padding: 15px 0;
}

.loadingText {
    width: 100%;
    text-align: center;
}

.dropDownIcon {
    position: absolute;
    left: 10px
}

.actionIcon {
    font-size: 14px !important;
    cursor: pointer;
    color: #2996C3;
}

.editOption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 4;
}

.editOption p {
    margin: 0 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 18px;
}

.editIcon {
    font-size: 12px !important;
}

@media only screen and (max-width: 480px) {
    .searchFilterContainer {
        justify-content: space-between;
        margin-bottom: 20px;
    }
   .header {
    grid-template-columns: 1fr;
   }
    .tableContainer h2,
    .tableContainer h4 {
        display: none;
    }
    .tabularMapped{
        margin-top:45px;
    }

    .search {
        width: 60%;
    }
}