.container {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container .checkbox {
    border: solid 1px var(--grey-border-color);
    border-radius: 2px;
    height: 15px;
    width: 15px;
    overflow: hidden;
    position: relative;
}

.container .checkbox .checked {
    height: 15px;
    width: 15px;
    background-color: var(--button-blue-color);
    position: absolute;
}

.checkbox .checked .tick {
    height: 5px;
    width: 11px;
    position: absolute;
    border-left: solid 2px #FFF;
    border-bottom: solid 2px #FFF;
    transform: rotate(-45deg) translate(-1px, 3px);
}

.container label {
    cursor: pointer;
    margin-left: 15px;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    user-select: none;
}