.modalBackdrop {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #88888880;
    padding: 50px;
}

.modal {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    width: 100%;
    color: var(--footer-text-color);
    overflow: hidden;
}

.closeIcon {
    position: absolute;
    right: 50px;
    top: 40px;
    color: var(--footer-text-color);
    font-size: 30px;
    cursor: pointer;
}

.small {
    padding: 1.5rem;
    max-width: 28rem;
}

.medium {
    min-height: 200px;
    max-width: 700px;
    padding: 80px 20px;
}
.dashboardModal {
    min-height: 200px;
    max-width: 700px;
    padding: 10px 20px;
}

.subContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large .subContainer{
    margin-right: 20px;
    overflow-y: scroll;
    padding: 80px 40px;
    max-height: 90vh;
}

.small h1 {
    margin-bottom: 1rem 0 !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.middle h1,
.large h1 {
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 42px !important;
    margin-top: 2rem !important;
}

.modal h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.modal h3 {
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    text-align: center !important;
    color: #000000 !important;
    opacity: 0.5 !important;
    width: 80% !important;
    margin-bottom: 20px !important;
}

.modal p {
    text-align: justify !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #000000 !important;
}

/* Success Modal */
.successCircle {
    position: relative;
    height: 80px;
    width: 80px;
    background: #2996C3;
    box-shadow: 7px 2px 45px 7px #2996C3;
    border-radius: 100%;
}

.successTick {
    position: absolute;
    top: 20px;
    left: 0.938em;
    width: 50px;
    height: 25px;
    transform: rotate(-45deg);
    border-left: solid 5px #F3F3F3;
    border-bottom: solid 5px #F3F3F3;
}

.successModal h1 {
    color: #2996C3 !important;
}


/* small Modal  */
.multipleButtonStyle{
    display: flex;
    justify-content: flex-start;
    gap: 2.5em;
    margin-top: 0.938em;
}

.smallModalUpperdiv{
    display: flex;
    justify-content: space-around;
    gap: 1.25em;
    
}
.smallModalUpperdiv input{
  padding: 0.75em 1.125em;
  margin-bottom: 0.938em;
}
.smallModalTextarea{
    width: 20em;
    height:2.5em;
    border: 1px solid grey;
    margin-bottom:0.313em;
    margin-top: -10px;
    font-size: 1em;
}
.smallModalMainContainer + label{
  margin-left: -60%;
  font-size: 1em;
  margin-bottom:0.625em;
}
.modalDropDown > div{
    border: 1px solid grey;
    box-shadow: none;
    border-radius:0px;
    
}
.smallModalLocationDropDown{
    width: 20em;
    height:2.5em;
    margin-bottom:0.313em;
    margin-top: -10px;
    font-size: 1em;
}
.smallModalLocationDropDown > div{
    border: 1px solid grey;
    box-shadow: none;
    border-radius:0px;
    
}


/* dashboardSideBarModals */
.inviteUserModalForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25em;
  }
  
  .inviteUserTopModal {
    width: 100%;
    padding: 1.25em 3.125em;
    background-color: #d9d9d980;
  }
  
  .inviteUserTopModal > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .inviteUserTopModal label {
    cursor: pointer;
    border-bottom: 2px solid black;
    font-family: Mulish;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.20000000298023224px;
    margin-top: -10px;
  }
  #paraInInput {
    font-family: Mulish;
    font-size: 0.75em;
    margin-top: 0.5em;
    color: #999999;
  }
  
  .inviteUserModalForm div > label {
    margin-top: 0.625em;
    margin-bottom: -8px;
  }
  
  .inviteUserModalForm > div > div {
    height: 2.875em;
    width: 18.75em;
    border-radius: 0px;
    border: 1px solid grey;
  }
  

  /* create new shift modal */
  .shiftModalAppear{
    display: flex;
    justify-content: space-around;
    gap: 1.563em;
  }
  .shiftModalAppear > div > input{
    width: 14em;
    height:2.5em;
    text-align: center;
  }

  .shiftUserLocation > div >div{
    width: 28.5em;
    height:2.5em;
    border: 1px solid grey;
  }
  