.nav {
    width: 100%;
    border-bottom: solid 1px var(--grey-border-color);
}

.bigNav {
    width: 100%;
    height: var(--navigation-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smallNavContainer {
    display: none;
    flex-direction: column;
}

.smallNavContainer .navMenuMobile {
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    position: absolute;
    top: var(--navigation-height);
    list-style: none;
    list-style-type: none;
    background-color: var(--button-blue-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease;
}

.smallNavContainer .navMenuMobileClose {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: var(--navigation-height);
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.smallNavContainer .navMenuMobile .mobileMenuItem {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: inherit;
}

.smallNavContainer .navMenuMobile a {
    height: 100%;
    width: 100%;
}

.smallNavContainer .smallNav {
    width: 100%;
    height: var(--navigation-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: inherit;
    position: relative;
}

.smallNavContainer .smallNav .mobileLogo {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navFont {
    font-size: 0.9rem;
    font-weight: 500;
}

.navLeftContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 37%;
}

.navLeftContainer a {
    cursor: pointer
}

.nav img {
    height: 55px;
}

.navLeftContainer ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.navRightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.button {
    padding: 0.625rem 1.25rem;
    border: solid 1px var(--grey-border-color);
    color: var(--button-blue-color);
    cursor: pointer;
    border-radius: 0.5rem;
}

.navRightContainer .button:hover {
    background-color: var(--button-hover-grey-color);
}

.navRightContainer p {
    user-select: none;
}

@media only screen and (max-width: 480px) {
    .bigNav {
        display: none;
    }

    .smallNavContainer {
        display: flex;
    }

    .button {
        padding: 0.5rem 1rem;
    }

}