.paginations {
	margin-right: 10px !important;
	border-radius: 5px;
}

.paginations:hover {
	border-color: #2996C3;
}

.prev {
	color: #FFF;
	background-color: #919EAB;
}

.next {
	color: #fff;
	background-color: #2996C3;
}