.paginationContainer {
	margin-top: 0;
	padding-top: 0;
	border: 2px solid #E2E3ED;
	border-top: none;
	border-radius: 0.5rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.paginations {
	margin-right: 10px !important;
	border-radius: 5px;
}

.paginations:hover {
	border-color: #2996C3;
}

.prev {
	color: #FFF;
	background-color: #919EAB;
}

.next {
	color: #fff;
	background-color: #2996C3;
}