.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.searchFilterContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search {
    width: 50%;
    border: 1px solid #6A719A;
    font-weight: 600!important;
    font-size: 14px!important;
    line-height: 20px!important;
    letter-spacing: 0.2px!important;
    color: #6A719A!important;
    background-color: #FFFFFF!important;
}

.search input::placeholder {
    font-weight: 600!important;
    font-size: 14px!important;
    line-height: 20px!important;
    letter-spacing: 0.2px!important;
    color: #6A719A!important;
}

.filter {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: fit-content;
    border: 1px solid #6A719A;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #6A719A;
    padding: 5.5px 20px;
    cursor: pointer
}

.filter p {
    margin: 0;
    margin-left: 10px;
}

.tableContainer h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #535255;
    margin: 0;
}

.tableContainer h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    margin-top: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.tableHeadRow {
    background: #F5F5F5;
    text-align: center;
}

.tableBodyRow {
    border-top: 2px solid #F5F5F5;
}

.tableHeadCell {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
    padding: 6px 0;
}

.tableBodyCell {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
    padding: 15px 0;
}

.loadingText {
    width: 100%;
    text-align: center;
}

.dropDownIcon {
    position: absolute;
    left: 10px
}