.container {
    position: fixed;
    top: 1.25em;
    right: 1.25em;
    color: #FFF;
    display: grid;
    grid-template-columns: 3.125em auto;
    z-index: 10000;
    column-gap: 1.25em;
    transition: all 0.2s ease;
    overflow: hidden;
}

.visible {
    width: 21.875em;
    padding: 1.25rem 2rem;
}

.hidden {
    width: 0;
    padding: 0;
}

.error {
    background: #CC5252;
}

.default {
    background: #2996C3;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2.5em;
}

.messageContainer h1 {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.875em;
    margin: 0;
    margin-bottom: 0.3125em;
}

.messageContainer p {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}