.dashboardTitles {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.3px;
    color: #252733;
    margin: 25px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.dashboardTitles h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

.dashboardTitles .rightContainer {
    display: flex;
}

.card {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    padding: 15px;
}

.loadingText {
    width: 100%;
    text-align: center;
}

.infoTileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.infoTile {
    background-position: right bottom 15px;
    background-repeat: no-repeat;
    background-size: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.infoTile h1,
.infoTile h2,
.infoTile h3 {
    margin: 0;
}

.infoTile .normalValue {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #535255;
    margin: 25px 0 15px 0;
}

.infoTile .compareValue {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    line-height: 42px;
    color: #535255;
    margin: 25px 0 15px 0;
}

.infoTile .tileTimeValue,
.infoTile .tileDayValue {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    line-height: 42px;
    color: #535255;
}

.infoTile .tileTimeValue {
    font-size: 25px;
    margin: 0 0 15px 0;

}

.infoTile .tileDayValue {
    font-size: 20px;
    margin: 25px 0 0 0;
}

.infoTile h2 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.infoTile h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}

.personalContainer {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 200px auto;
}

.personalContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    padding-right: 20px;
}

.graph {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    overflow: hidden;
}

.colspan2 {
    grid-column: span 2;
}

.colspan1 {
    grid-column: span 1;
}

.colspan1,
.colspan2 {
    margin: 0 18px;
    margin-top: 10px;
}

.shiftDetails {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    border: 2px solid #BFBFBF;
    margin-top: 10px;
}

.shiftDetails h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
}

.shiftDetails p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #535255;
}

.tableChoices {
    margin-left: 10px;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    column-gap: 15px;
    width: fit-content;
}

.tableChoice {
    width: fit-content;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535255;
    margin: 0;
}

.activeTableChoice {
    color: #2996C3 !important;
    border-bottom: solid 2px #2996C3;
}

.timerCard {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.timerCard h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #535255;
}

.timerContainer {
    display: flex;
    padding: 15px 0;
    padding-left: 20px;
}

.timerContainer h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #535255;
    margin: 0;
}

.timerContainer h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #535255;
    margin: 0;
    padding: 10px 0;
}

.subTimerContainer {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.clockButtons {
    display: flex;
}

.warnIcon {
    font-size: 17px !important;
    margin-right: 10px;
}

.warnMessage {
    color: #E4BE3D;
    margin: 0;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

@media only screen and (max-width: 480px) {
    .graph {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
    }

    .infoTileContainer {
        grid-row-gap: 15px;
        grid-template-columns: 1fr;
    }

    .personalContainer {
        grid-template-columns: 1fr;
    }

    .personalContent {
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .dashboardTitles h1 {
        font-size: 22px;
    }
}