.tabsContainer {
    width: 100%;
    border-bottom: 1.5px solid #DFE0EB;
    position: absolute;
    left: 0;
    padding-left: 30px;
    display: flex;
}

.tabTitle {
    margin: 0 10px;
    color: #7C7B7F;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.activeTab {
    border-bottom: 3px solid #2996C3;
    font-weight: 600 !important;
}

.preferenceBody {
    margin-top: 60px;
}

.profileContainer {
    display: grid;
    height: 100%;
    min-height: 500px;
    grid-template-columns: 250px auto 200px;
}

.nonProfileContainer {
    display: grid;
    height: 100%;
    min-height: 500px;
    grid-template-columns: 70% auto;
}

.picContainer {
    height: 200px;
    width: 200px;
    background: #D0D0D0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.pic {
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.uploadContainer {
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-color: #33333320;
}

.uploadBox {
    z-index: 2;
    background: #8C8C8C;
    display: flex;
    color: #D9D9D9;
    align-items: center;
    width: 100%;
}

.uploadBox p {
    margin: 0;
    font-weight: 700;
    font-size: 10px !important;
    line-height: 13px;
    letter-spacing: 0.3px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #535255;
    margin: 30px 0;
}

.nonProfileContainer h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #535255;
    margin: 30px 0 15px;
}

.nonProfileContainer p {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 18px;
    color: #535255;
}

.twoHalves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}

.userPreferenceCard {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.twoHalves .userPreferenceCard {
    height: 100%;
}

.userPreferenceCard h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535255;
    margin: 0
}

.userPreferenceCard p {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 18px;
    margin: 0;
}

.cardTitle {
    padding: 15px 20px;
    border-bottom: 1.5px solid #DFE0EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBody {
    padding: 15px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}

.cardBody .fullWidth {
    grid-column: span 2;
}

.cardTitle .editOption {
    display: flex;
    align-items: center;
    height: 100%;
}

.cardTitle .editOption p {
    margin: 0 5px;
    cursor: pointer;
}

.editIcon {
    font-size: 12px !important;
}

.socialWarning {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 10px 20px;
    background: #DBEBF4;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.warning {
    color: #2996C3;
    font-size: 50px;
}

.socialWarning h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #535255;
    margin: 0;
}

.socialWarning p {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #535255;
    opacity: 0.75;
    margin: 0;
}

.warnIcon {
    font-size: 17px !important;
    margin-right: 10px;
}

.warnMessage {
    color: #E4BE3D;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 13px;
    grid-column: span 2;
}

.warnMessage a {
    color: #2996C3;
    text-decoration: underline;
}

@media only screen and (max-width: 480px) {
    .profileContainer {
        grid-template-columns: 1fr;
    }

    .cardBody {
        grid-template-columns: 1fr;
    }

    .nonProfileContainer {
        grid-template-columns: 1fr;
    }

    .picContainer {
        margin: auto;
        margin-top: 30px;
    }

    .tabsContainer {
        overflow-x: scroll;
    }

    .cardBody .fullWidth {
        grid-column: unset;
    }
}