.nav {
    width: 100%;
    border-bottom: solid 1px var(--grey-border-color);
    height: var(--navigation-height);
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1.5fr;
    position: relative;
}

.nav .navEl {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.showMobile {
    display: none !important;
}

.nav .navEnd {
    justify-content: end;
}

.logo {
    height: 35px;
}

.nav .menu {
    transition: all .5s ease;
}

.nav .menu .menuItems {
    list-style: none;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    transition: all .5s ease;
}

.nav .menu .menuItem {
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
}

.activeMenu {
    color: var(--button-blue-color) !important;
}

.navEl .button {
    padding: 0.625rem 1.25rem;
    border: solid 1px var(--grey-border-color);
    color: var(--button-blue-color);
    cursor: pointer;
    background-color: #FFFFFF00;
    border-radius: 0.5rem;
    font-weight: 600;
}

.navEl .button:hover {
    background-color: var(--button-hover-grey-color);
}

.navEl p {
    user-select: none;
    font-weight: 400;
    margin-left: 2rem;
}

.menu .expandableMenu {
    cursor: pointer;
}

.menu .expandableMenu:hover .subMenu {
    display: flex;
    height: 150px;
}

.menu .subMenu {
    height: 0;
    width: fit-content;
    padding-top: 15px;
    list-style: none;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    transform: translateX(-35px);
    transition: all 0.5s ease;
}

.subMenu p {
    margin: 0;
    padding: 0;
}

.menu .subMenu a {
    width: 100%;
}

.menu .subMenu .menuItem {
    padding: 20px 50px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #0C0C0C;
    background-color: whitesmoke;
}

.menu .subMenu .menuItemActive,
.menu .subMenu .menuItem:hover {
    background: #DFEFF6 !important;
    color: #2996C3 !important;
    font-weight: 600 !important;
    border-left: 2px solid #2996C3 !important;
}

@media only screen and (max-width: 640px) {
    .nav .menu {
        position: fixed;
        padding-top: 20px;
        height: fit-content;
        width: 100vw;
        height: 100vh;
        background-color: #363740;
        color: white;
        flex-direction: column;
        align-items: center;
        z-index: 11;
    }

    .logo {
        height: 40px;
    }

    .menu a {
        width: 100%;
    }

    .showMobile {
        display: unset !important;
    }

    .hideMobile {
        display: none !important;
    }

    .closeMenu {
        left: -100vw;
    }

    .openMenu {
        left: 0;
    }

    .logo {
        height: 40px;
    }

    .nav .menu .menuItems {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .nav .menu .menuItem {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        border-bottom: 1px solid #eee;
    }

    .menuItem p {
        margin: 0;
        padding: 25px 0;
    }

    .activeMenu {
        color: #eee !important;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navEl .button {
        padding: 0.5rem 0.8rem;
        font-size: 0.9rem;
    }

    .menu .subMenu {
        position: unset !important;
        height: fit-content;
        background-color: var(--lighter-blue-color);
        color: white;
        align-items: flex-start;
        padding: 0;
        transform: unset !important;
        width: 98%;
        border-radius: 0;
    }

    .menu .subMenu .menuItem {
        color: #333;
        padding: 0;
    }

    .menuItemActive {
        border-right: 2px solid #2996C3 !important;
    }
}

@media only screen and (max-width: 800px) and (min-width: 641px) {
    .nav .navEl {
        font-size: 0.8rem;
    }

    .nav .menuItem {
        font-size: 0.8rem;

    }

    .navEl .button {
        padding: 0.5rem 0.7rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 641px) {
    .logo {
        height: 45px;
    }
}