.dashboardPage {
    display: grid;
    grid-template-columns: 200px auto;
    font-family: Mulish;
    transition: all 0.2s ease;
    overflow-x: hidden;
}

.openNavDashboard {
    grid-template-columns: 200px auto;
}

.closeNavDashboard {
    grid-template-columns: 70px auto;
}

.openNavDashboard .sideNav {
    width: 200px;
}

.closeNavDashboard .sideNav {
    width: 70px;
}

.sideNav {
    width: 100%;
    background-color: #363740;
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.1s ease-in-out;
}

.version {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.2px;
    color: #BFBFBF;
}

.menuItem {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    letter-spacing: 0.2px;
    height: 56px;
    color: #A4A6B3;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.menuItem:hover,
.activeMenuItem {
    border-left: solid 3px #DDE2FF;
    color: #DDE2FF !important;
    background-color: #3E4049;
}

.openNavRightContainer,
.closeNavRightContainer {
    position: relative;
}

.openNavRightContainer {
    max-width: calc(100vw - 200px);
    /* 60 px for padding */
}

.closeNavRightContainer {
    max-width: calc(100vw - 70px);
    /* 60 px for padding */
}

.openNavDashboard .logo {
    width: 160px;
}

.closeNavDashboard .logo {
    width: 30px;
}

.header {
    position: fixed;
    top: 0;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FBF9F9;
    box-shadow: 10px 8px 6px rgba(41, 150, 195, 0.2);
    width: 100%;
    z-index: 5;
}

.openNavDashboard .header {
    max-width: calc(100% - 200px);
}

.closeNavDashboard .header {
    max-width: calc(100% - 70px);
}

.headerRight {
    display: flex;
    align-items: center;
}

.headerRight .userName {
    margin: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
    padding: 0 15px;
    border-left: 1px solid #DFE0EB;
    margin-left: 15px;
}

.searchBar {
    width: 40vw;
}

.content {
    padding: var(--navigation-height) 30px;
    background-color: #F7F8FC;
    min-height: 100%;
    overflow-x: scroll;
}

.footer {
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    background-color: white;
}

.openNavDashboard .footer {
    max-width: calc(100% - 200px);
}

.closeNavDashboard .footer {
    max-width: calc(100% - 70px);
}

.footer .leftContainer {
    display: flex;
    align-items: center;
}

.footer p {
    color: #535255;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1px;
}

.helpIcon {
    margin-left: 15px;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C5C7CD;
    border-radius: 50%;
    color: #C5C7CD;
    font-size: 24px;
}

.footerIcons {
    height: 20px;
    margin-right: 10px;
}

.footerLogo {
    height: 25px;
}

@media only screen and (max-width: 480px) {
    .dashboardPage {
        grid-template-columns: 1fr;
    }

    .content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .sideNav {
        position: absolute;
        z-index: 100;
        overflow-x: hidden;
    }


    .logoContainer {
        margin-left: 25px !important;
    }

    .version {
        margin-left: 80px;
        margin-bottom: 25px;
        text-align: left;
    }

    .openNavDashboard .sideNav {
        width: 100%;
    }

    .closeNavDashboard .sideNav {
        width: 0;
    }

    .header {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .headerRight {
        margin-right: 20px;
    }

    .openNavDashboard .header,
    .closeNavDashboard .header,
    .openNavDashboard .footer,
    .closeNavDashboard .footer {
        max-width: 100%;
    }

    .sideNavHam {
        position: absolute;
        top: 9px;
        right: 60px;
    }

    .profileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #F7F8FC;
    }

    .profileContainer p {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 14px!important;;
        line-height: 20px;
        text-align: right;
        letter-spacing: 0.2px;
        color: #535255;
        margin-right: 20px;
    }

    .searchBar {
        width: 80%;
        margin: 29px 20px;
    }
}