.page {
    padding: 3rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFF;
}

.pageContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 6rem);
    height: 100%;
    background-color: #FFF;
    border-radius: 1.25rem;
    padding: 2rem 5rem;
    max-width: 1200px;
    border: solid 2px #28A8E0
}

.gridContainer {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.gridLeftContainer {
    padding-right: 100px;
    height: 100%
}

.gridRightContainer {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.logoLeftContainer {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
}

.leftLogo {
    height: 60px;
}

.rightLogo {
    position: absolute;
    right: 20%;
    height: 70px;
}

.page legend {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.625rem;
    color: #2996C3;
    text-transform: uppercase;
    user-select: none;
    margin-bottom: 1rem;
}

.page p {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #9B9B9B;
    width: 100%;
    margin: 0;
}

.textCentered {
    text-align: center;
}

.errorText {
    color: var(--error-message-color) !important;
    position: absolute;
    bottom: -20px
}

.errorTextUp {
    color: var(--error-message-color) !important;
    position: absolute;
    bottom: 5px
}

.page a {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #2996C3;
    text-decoration: underline;
}

.gridContainer .twoHalves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
}

.inactiveCover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
}

.passwordPolicy {
    font-weight: 500 !important;
    font-size: 11px !important;
    line-height: 16px !important;
    color: #535255 !important;
    opacity: 0.75 !important;
    text-align: left !important;
}

@media only screen and (max-width: 480px) {
    .page {
        /* text-align: center; */
        padding: 1.5rem;
    }

    .pageContainer {
        align-items: flex-start;
        padding: 2rem 0.5rem;
        border: none;
    }

    .logoLeftContainer {
        justify-content: center;
    }

    .gridContainer {
        grid-template-columns: 1fr;
    }

    .gridLeftContainer {
        padding-right: 0;
    }

    .gridRightContainer {
        width: 0;
        height: 0;
    }

    .gridContainer .twoHalves {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 15px;
    }

    .passwordPolicy {
        margin-bottom: 20px !important;
    }

}

@media only screen and (max-width: 640px) and (min-width: 480px) {}

@media only screen and (max-width: 1000px) and (min-width: 641px) {}

@media only screen and (min-width: 1200px) {}