.nav {
    width: 100%;
    height: var(--navigation-height);
    border-bottom: solid 1px var(--grey-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navFont {
    font-size: 0.9rem;
    font-weight: 500;
}

.navLeftContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 37%;
}

.navLeftContainer img {
    height: 55px;
}

.navLeftContainer ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.navRightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.navRightContainer .button {
    padding: 0.625rem 1.25rem;
    border: solid 1px var(--grey-border-color);
    color: var(--button-blue-color);
    cursor: pointer;
    border-radius: 0.5rem;
}

.navRightContainer .button:hover {
    background-color: var(--button-hover-grey-color);
}

.navRightContainer p {
    user-select: none;
}